<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<table class="table">
    <h2 class="title">상세정보</h2>
    <tr class="table-dark">
        <th>제목</th>
        <th>작가</th>
        <th>가격</th>
    </tr>
    <tr class="table-danger">
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.bookAuthor}"></td>
        <td th:text="${book.bookPrice}"></td>
    </tr>
</table>
</body>
</html>